/*<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body #fonts {
    font-family: "Montserrat", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* to do CSS eden, you can go into the components style thing, 
and do a commar, or ID the components and do it here */

#card-flex {
    display: flex;
    align-items: center;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    #card-flex {
        flex-direction: column;
    }
}

.flex-row {
    display: flex;
    align-items: center;
    padding: 10px;
}

.flex-down {
    display: flex;
    flex-direction: column;
}

.flex-end {
    margin-left: auto;
}

.light-blue-btn {
    background-color: #6e8ca2 !important;
    color: white !important;
}

.orange-btn {
    background-color: #fe8a60 !important;
    color: white !important;
}

.dark-blue-btn {
    background-color: #2d70a2 !important;
    color: white !important;
}

.dark-blue-outline-btn {
    border-color: #2d70a2 !important;
    color: #2d70a2 !important;
}

i.circle.icon {
    color: #2d70a2 !important;
}
